<!-- strat ionic content -->
<ion-content>
  <br />
  <ion-button color="medium" id="button_back" routerLink="/admin">
    <ion-icon name="ios-arrow-back"> </ion-icon>
    <ion-col col-12> </ion-col>
    ย้อนกลับ
  </ion-button>
  <!-- strat ionic card -->
  <ion-card>
    <!-- strat header card -->

    <ion-card-content>
      <!-- strat icon doccument -->
      <div align="center">
        <ion-col>
          <img style="width: 100px;" src="./../assets/icon/student.png" />
        </ion-col>
        <ion-card-title style="color:black">คัดเลือกนักเรียน</ion-card-title>
        <ion-card-title style="color:black">_____</ion-card-title>
      </div>
      <br />
      <!-- end icon doccument -->
    </ion-card-content>
    <!-- end header card -->

    <div *ngFor="let crouse of this.crouses">
      <!-- card 01 เตรียมอนุบาล -->
      <div align="center">
        <!-- strat ionic col -->
        <ion-col class="startp">
          <!-- strat button add -->
          <ion-button
            id="button_kindergarten"
            (click)="clickCourse(crouse.edl_id)"
          >
            <ion-icon name="add-circle"> </ion-icon>
            <ion-col col-12> </ion-col>
            ระดับชั้น{{crouse.edl_name}}
          </ion-button>
          <!-- end button add -->
        </ion-col>
        <br />
      </div>
      <br />
      <br />
      <!-- card 01 เตรียมอนุบาล -->
    </div>
  </ion-card>

  <!-- end ionic card -->
</ion-content>
<!-- end ionic content -->
