<!-- strat ionic content -->
<ion-content>
  <br />
  <ion-button
    color="medium"
    id="button_back"
    (click)="this.ngOnInit()"
    routerLink="/list"
  >
    <ion-icon name="ios-arrow-back"> </ion-icon>
    <ion-col col-12> </ion-col>
    ย้อนกลับ
  </ion-button>
  <!-- strat ionic card -->
  <ion-card>
    <!-- strat header card -->
    <ion-card-header>
      <ion-card-subtitle style="color:black">ข่าวประกาศ</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- strat icon doccument -->
      <div align="center">
        <ion-col>
          <img style="width: 100px;" src="./../assets/icon/student.png" />
        </ion-col>
        <ion-card-title style="color:black">หลักสูตรที่เปิดสอน</ion-card-title>
        <ion-card-title style="color:black">_____</ion-card-title>
      </div>
      <br />
      <!-- end icon doccument -->
    </ion-card-content>
    <!-- end header card -->

    <div *ngFor="let itemHeadNews of this.headNews; let i = index">
      <!-- card 01 เตรียมอนุบาล -->
      <div align="center">
        <!-- strat ionic col -->
        <ion-col class="startp">
          <!-- strat button add -->
          <ion-button (click)="btnToggle(i)" id="button_kindergarten">
            <ion-icon name="add-circle"> </ion-icon>
            <ion-col col-12> </ion-col>
            หลักสูตร{{itemHeadNews.name}}
          </ion-button>
          <!-- end button add -->

          <!-- strat card news หลักสูตรเตรียมอนุบาล -->
        </ion-col>
        <ion-card *ngIf="this.buttonNews[i]">
          <ion-card-content>
            <ion-text>
              <br />
              <div *ngFor="let itemBodyNews of this.bodyNews[i]; let j = index">
                <h5 style="color: black;">
                  {{itemBodyNews.edu}} {{itemBodyNews.class_title}} รอบที่
                  {{itemBodyNews.round}}
                </h5>
                <p>
                  รับสมัครตั้งแต่ {{itemBodyNews.start}} ถึง
                  {{itemBodyNews.end}}
                </p>
                <br />
              </div>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <!-- end card news หลักสูตรเตรียมอนุบาล -->
        <br />
        <br />
      </div>
    </div>
    <br />

    <!-- <br />
            <h5 style="color: black;">ประถมศึกษา 1 รอบที่ 1</h5>
            <p>รับสมัครตั้งแต่ 30 พฤษภาคม พ.ศ. 2563 ถึง 30 กันยายน พ.ศ. 2563</p>
            <br />
            <h5 style="color: black;">ประถมศึกษา 1 รอบที่ 2</h5>
            <p>รับสมัครตั้งแต่ 30 ตุลาคม พ.ศ. 2563 ถึง 30 ธันวาคม พ.ศ. 2563</p> -->
  </ion-card>
  <!-- end ionic card -->
</ion-content>
<!-- end ionic content -->
