<ion-header> </ion-header>

<!-- strat ionic card -->
<ion-content>
  <br />
  <ion-button
    id="button_back"
    routerLink="/admin"
    color="medium"
  >
    <ion-icon name="ios-arrow-back"> </ion-icon>
    <ion-col col-12> </ion-col>
    ย้อนกลับ
  </ion-button>
  <!-- เตรียมอนุบาล -->
  <ion-card *ngFor="let register of this.registers; let i = index">
    <br />
    <ion-card color="success">
      <ion-grid>
        <ion-row justify-content-center align-items-end style="height:100%">
          <ion-label
            ><b style="font-size: medium;"
              >ระดับชั้น{{register.edu}} {{register.class_title}} รอบที่ {{register.round}}</b
            ></ion-label
          >
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-item>
          วันที่เปิดรับสมัครเรียน
          <ion-col col-12> </ion-col>
          {{register.start}} </ion-item
        ><br />
      </ion-grid>

      <ion-grid>
        <ion-item>
          วันที่ปิดรับสมัครเรียน
          <ion-col col-12> </ion-col>
          {{register.end}} </ion-item
        ><br />
      </ion-grid>

      <ion-grid>
        <ion-item>
          หลักสูตรที่เปิดรับ
          <ion-col col-12> </ion-col>
          {{register.cours_th}} </ion-item
        ><br />
      </ion-grid>

      <ion-grid>
        <ion-item>
          จำนวนที่เปิดรับ
          <ion-col col-12> </ion-col>
          {{register.max}} คน</ion-item
        ><br />
      </ion-grid>

      <ion-grid>
        <ion-item>
          จำนวนที่สมัคร
          <ion-col col-12> </ion-col>
          {{register.now}} คน</ion-item
        ><br />
      </ion-grid>
    </ion-card-content>

    <br />

    <ion-grid>
      <ion-row justify-content-center align-items-end style="height:100%">
        <ion-button
          size="Default"
          color="warning"
          (click)="clickEdit(register.id)"
          >แก้ไข</ion-button
        >
      </ion-row>
    </ion-grid>

    <br />
  </ion-card>
  
</ion-content>
