<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      ส่วนที่ 1 : ข้อมูลนักเรียน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <!-- 01 : start dropdow degree -->
  <ion-item>
    <ion-label>สมัครเรียนระดับชั้น</ion-label>
    <ion-select
      [(ngModel)]="this.regId"
      #select
      interface="popover"
      placeholder="กรุณาเลือก"
      (ionChange)="logRegId()"
    >
      <ion-select-option
        *ngFor="let newsOpen of this.newsOpens; let i = index"
        value="{{newsOpen.id}}"
        [selected]="newsOpen.id == this.regId"
        >{{newsOpen.edu}} {{newsOpen.class_title}} รอบที่
        {{newsOpen.round}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <!-- 01 : end dropdow degree -->

  <br />
  <!-- 02 : start dropdow Name Title -->
  <ion-item>
    <ion-label>คำนำหน้าชื่อ</ion-label>
    <ion-select
      [(ngModel)]="this.pfId"
      interface="popover"
      placeholder="กรุณาเลือก"
    >
      <ion-select-option
        *ngFor="let prefixName of this.prefixNames; let i = index"
        value="{{prefixName.pf_id}}"
        [selected]="prefixName.pf_id == this.pfId"
        >{{prefixName.pf_name}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <!-- 02 : end dropdow Name Title -->

  <br />
  <!-- 03 : start input ID card -->
  <ion-item>
    <ion-label position="floating">เลขบัตรประชาชน</ion-label>
    <ion-input type="number" [(ngModel)]="this.cardId"></ion-input>
  </ion-item>
  <!-- 03 : end input ID card -->

  <br />
  <!-- 04 : start input Fristname thai -->
  <ion-item>
    <ion-label position="floating">ชื่อ (ภาษาไทย)</ion-label>
    <ion-input type="text" [(ngModel)]="this.fNameTh"></ion-input>
  </ion-item>
  <!-- 04 : end input Fristname thai -->

  <br />
  <!-- 05 : start input Lastname thai -->
  <ion-item>
    <ion-label position="floating">นามสกุล (ภาษาไทย)</ion-label>
    <ion-input type="text" [(ngModel)]="this.lNameTh"></ion-input>
  </ion-item>
  <!-- 05 : end input Lastname thai -->

  <br />
  <!-- 06 : start input Fristname english -->
  <ion-item>
    <ion-label position="floating">ชื่อ (ภาษาอังกฤษ)</ion-label>
    <ion-input type="text" [(ngModel)]="this.fNameEn"></ion-input>
  </ion-item>
  <!-- 06 : end input Fristname english -->

  <br />
  <!-- 07 : start input Lastname english -->
  <ion-item>
    <ion-label position="floating">นามสกุล (ภาษาอังกฤษ)</ion-label>
    <ion-input type="text" [(ngModel)]="this.lNameEn"></ion-input>
  </ion-item>
  <!-- 07 : end input Lastname english -->

  <br />
  <!-- 08 : start dropdow province of birth -->
  <ion-item>
    <ion-label>จังหวัดที่เกิด</ion-label>
    <ion-select
      [(ngModel)]="this.pvId"
      interface="popover"
      placeholder="กรุณาเลือก"
    >
      <ion-select-option
        *ngFor="let province of this.provinces; let i = index"
        value="{{province.pv_id}}"
        [selected]="this.pvId == province.pv_id"
        >{{province.pv_name}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <!-- 08 : end dropdow province of birth -->

  <br />
  <!-- 09 : start dropdow nationality -->
  <ion-item>
    <ion-label>สัญชาติ</ion-label>
    <ion-select
      [(ngModel)]="this.naId"
      interface="popover"
      placeholder="กรุณาเลือก"
    >
      <ion-select-option
        *ngFor="let nation of this.nations; let i = index"
        value="{{nation.nation_id}}"
        [selected]="this.naId == nation.nation_id"
        >{{nation.nation_name}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <!-- 09 : end dropdow nationality -->

  <br />
  <!-- 10 : start dropdow race -->
  <ion-item>
    <ion-label position="floating">เชื้อชาติ</ion-label>
    <ion-input type="text" [(ngModel)]="this.ra"></ion-input>
  </ion-item>
  <!-- 10 : end dropdow race -->

  <br />
  <!-- 11 : start dropdow Blood type -->
  <ion-item>
    <ion-label>กรุ๊ปเลือด</ion-label>
    <ion-select
      [(ngModel)]="this.bl"
      interface="popover"
      placeholder="กรุณาเลือก"
    >
      <ion-select-option
        *ngFor="let blood of this.bloods; let i = index"
        value="{{blood.blood_id}}"
        [selected]="this.bl==blood.blood_id"
        >{{blood.blood_name}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <!-- 11 : end dropdow Blood type -->

  <br />
  <!-- 12 : start dropdow Religion -->
  <ion-item>
    <ion-label>ศาสนา</ion-label>
    <ion-select
      [(ngModel)]="this.re"
      interface="popover"
      placeholder="กรุณาเลือก"
    >
      <ion-select-option
        *ngFor="let reli of this.relis; let i = index"
        value="{{reli.reli_id}}"
        [selected]="this.re==reli.reli_id"
        >{{reli.reli_name}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <!-- 12 : end dropdow Religion -->

  <br />
  <!-- 13 : start Date -->
  <ion-item>
    <ion-label>วัน/เดือน/ปีเกิด</ion-label>
    <div class="input-group date" data-provide="datepicker">

      <ion-datetime placeholder="{{this.bod}}" display-format="DD/MM/YYYY" id="dat" [(ngModel)]="this.bod" ></ion-datetime>

    </div>
  </ion-item>
  <!-- 13 : end Date -->

  <br />
  <!--  strat button save-->
  <ion-item>
    <ion-grid>
      <ion-row>
        <!-- strat button back -->
        <ion-col class="startp" align-items-start>
          <ion-button
            type="submit"
            name="button"
            id="button_backlist"
            size="Default"
            color="medium"
            routerLink="/list"
            >ย้อนกลับ</ion-button
          >
        </ion-col>
        <!-- strat button back -->

        <!-- strat button next -->
        <ion-col col-12> </ion-col>
        <ion-col col-12> </ion-col>
        <ion-col class="startp" align-self-end>
          <ion-button
            type="submit"
            name="button"
            id="button_nextreg"
            size="Default"
            color="primary"
            (click)="this.next()"
            >ถัดไป</ion-button
          >
        </ion-col>
        <!-- strat button next -->
      </ion-row>
    </ion-grid>
  </ion-item>
  <!--  end button save-->
</ion-content>
