<ion-content>
  <ion-card slot="fixed" (ionRefresh)="dosomething($event)">
    <ion-refresher-content>
      <br />
      <ion-button id="button_back" (click)="clickBack()" color="medium">
        <ion-icon name="ios-arrow-back"> </ion-icon>
        <ion-col col-12> </ion-col>
        ย้อนกลับ
      </ion-button>

      <ion-card>
        <ion-card-header>
          <!-- start subtitle register -->
          <ion-card style="background-color: darkorchid; color:#FFFF;">
            <ion-grid>
              <ion-row
                justify-content-center
                align-items-end
                style="height:100%"
              >
                <ion-label
                  ><b style="font-size: 18px;"
                    >คัดเลือกนักเรียนเข้าศึกษา</b
                  ></ion-label
                >
              </ion-row>
            </ion-grid>
          </ion-card>
          <!-- end subtitle register -->
        </ion-card-header>

        <ion-list>
          <!-- Sliding item with expandable options on both sides -->
          <ion-item-sliding *ngFor="let list of  this.lists">
            <ion-item-options side="start" (ionSwipe)="this.clickPass(list.id)">
              <ion-item-option color="success" expandable>
                <ion-icon name="checkmark-circle"></ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item>
              <ion-label>
                <ion-row>
                  <ion-icon class="centerp" name="contact"></ion-icon>
                  <p class="centerp" size="">
                    {{list.pro_stt_prefix}}{{list.pro_stt_first_th_name}}
                    {{list.pro_stt_last_th_name}} : {{list.pro_stt_pv}}
                  </p>
                </ion-row>
              </ion-label>
              <ion-button color="success">
                <ion-icon name="checkmark-circle" slot="end"></ion-icon>
              </ion-button>
              <ion-button color="danger">
                <ion-icon name="close-circle" slot="end"></ion-icon>
              </ion-button>
            </ion-item>

            <ion-item-options side="end" (ionSwipe)="this.clickFail(list.id)">
              <ion-item-option color="danger" expandable>
                <ion-icon name="close-circle"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-card>
    </ion-refresher-content>
  </ion-card>
</ion-content>
